<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-left my-auto">
            <span>Copyright &copy; Sistemas de Vendas 2021</span>
        </div>
        <div class="copyright text-right my-auto">
            <span>Desenvolvido por Allan Ranier</span>
        </div>
    </div>
</footer>